.navbar {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 10px
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.links {
  display: flex;
}
.navlink {
  list-style: none;
  margin: 0 0.75rem;
  text-transform: uppercase;
}
.navlink a {
  text-decoration: none;
  color: black;
}
.navlink a:hover {
  color: #f9826c;
}

.title {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 1rem 1rem;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .small {
    display: flex;
    flex-direction: column;
    /* Adjust styles for small screens */
  }
  
  .large {
    display: none; /* Hide large category cards on small screens */
  }
}